<template>
    <div class="wrapper">
        <h1>Погодний додаток</h1>
        <p>Дізнайтесь про погоду у {{ city === "" ? "Вашому місті" : cityName }}</p>
        <div class="input-container">
            <input type="text" v-model="city" @keydown.enter="getWeather" @input="clearError" placeholder="Введіть місто" ref="cityInput">
            <button @click="getWeather" :disabled="city === ''">Отримати погоду</button>
        </div>
        <p class="error">{{ error }}</p>

        <div class="showResult" v-if="info !== null">
            <p>{{ showCondition }}</p>
            <p>{{ showTemp }}</p>
            <p>{{ showFeelsLike }}</p>
            <p>{{ showWind }}</p>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            city: "",
            error: "",
            info: null
        }
    },
    mounted() {
        this.$refs.cityInput.focus();
    },
    computed: {
        cityName() {
            return "«" + this.city + "»";
        },
        showCondition() {
            const condition = this.info.current.condition.text.toLowerCase();
            const precipitation = this.info.current.precip_mm > 0 ? "йде дощ" : "без опадів";
            return `${condition.charAt(0).toUpperCase() + condition.slice(1)}, ${precipitation}`;
        },
        showTemp() {
            return "Температура: " + this.info.current.temp_c + " °C";
        },
        showFeelsLike() {
            return "Відчувається як: " + this.info.current.feelslike_c + " °C";
        },
        showWind() {
            const windSpeedMps = (this.info.current.wind_kph / 3.6).toFixed(1);
            return `Швидкість вітру: ${windSpeedMps} м/с`;
        },
    },
    methods: {
        clearError() {
            this.error = "";
        },
        getWeather() {
            if (this.city.trim().length < 2) {
                this.error = "Потрібна назва більше ніж з одного символу.";
                return false;
            }

            this.error = "";

            const apiKey = '76d67ef67a434203883121656241906';
            axios.get(`https://api.weatherapi.com/v1/current.json`, {
                params: {
                    key: apiKey,
                    q: this.city,
                    lang: 'uk'
                }
            })
                .then(res => {
                    this.info = res.data;
                    this.error = "";
                })
                .catch(err => {
                    this.info = null;
                    if (err.code === 'ECONNABORTED' || err.message === 'Network Error') {
                        this.error = "Помилка з'єднання. Спробуйте пізніше.";
                    } else if (err.response && err.response.status === 429) {
                        this.error = "Занадто багато запитів. Будь ласка, спробуйте пізніше.";
                    } else if (err.response && err.response.status === 400) {
                        this.error = "Місто не знайдено. Перевірте правильність введеної назви.";
                    } else {
                        this.error = "Сталася помилка при отриманні даних. Спробуйте пізніше.";
                    }
                });
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(339deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#weather-app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: #d03939;
    margin-top: 10px;
}

.wrapper {
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 40px auto;
    border-radius: 20px;
    padding: 20px;
    background: #1f0f24;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.wrapper h1 {
    margin: 0;
    font-size: 2rem;
}

.wrapper p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.wrapper input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #110813;
    color: #fcfcfc;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 80%;
    max-width: 400px;
}

.wrapper input::placeholder {
    text-align: center;
    color: #ccc;
}

.wrapper input:focus {
    border-bottom-color: #6e2d7d;
}

.wrapper button {
    background: #e3bc4b;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #b99935;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 500ms ease;
    font-size: 1.1rem;
    white-space: nowrap;
}

.wrapper button:hover:enabled {
    transform: scale(1.1) translateY(-5px);
}

.wrapper button:disabled {
    background: #746027;
    cursor: not-allowed;
    transform: none;
}

.showResult {
    margin-top: 30px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 15px;
    }

    .wrapper h1 {
        font-size: 1.5rem;
    }

    .wrapper p {
        font-size: 1rem;
    }

    .input-container {
        flex-direction: column;
    }

    .wrapper input {
        width: 90%;
        max-width: none;
    }

    .wrapper button {
        margin-left: 0;
        margin-top: 10px;
    }

    .showResult {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 100%;
        padding: 10px;
    }

    .wrapper h1 {
        font-size: 1.2rem;
    }

    .wrapper p {
        font-size: 0.9rem;
    }

    .wrapper input {
        font-size: 0.9rem;
        padding: 8px;
    }

    .wrapper button {
        padding: 6px 10px;
        margin-left: 0;
        margin-top: 10px;
    }

    .showResult {
        font-size: 0.9rem;
    }
}
</style>
