
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

.fw-thin {
    font-weight: 100;
}

.text-uppercase {
    font-size: 14px;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.link-hover {
    transition: 0.5s;
}

.link-hover:hover {
    color: var(--bs-primary) !important;
}


.img-zoomin {
    transition: 0.5s;
}

.img-zoomin:hover {
    transform: scale(1.1);
}

/*** Topbar Start ***/
.sticky-top {
    transition: 0.5s;
    background: var(--bs-white);
}

.topbar {
    padding: 10px 0;
}

.topbar .top-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: calc(100% - 235px);
}

.topbar .top-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;


}

@media (max-width: 1150px) {
    .sticky-top .top-link {
        display: none;
    }
    .topbar .top-info {
        width: 100%;
    }
}

.topbar .top-link a {
    font-size: medium;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}

.overflow-hidden {
    width: 100%;
}

#note {
    position: relative;
    animation: noteAnimate 30s infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    align-items: center;
}

@keyframes noteAnimate {
    from {left: 100%;}
    to {left: -968px;}
}

/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-weight: 400;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top.bg-white .navbar .navbar-nav .nav-link:hover,
.sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        font-weight: 400;
        font-family: 'Fredoka', sans-serif;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

@media (min-width: 1200px) {
    .navbar .navbar-collapse .border-top {
        border-top: none !important;
    }
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}

.img-instead-weather {
    margin-right: 20px;
}
/*** Navbar End ***/


/*** Features Start ***/
.features {
    width: 100%;
    background: linear-gradient(rgba(26, 125, 255, 0.5), rgba(255, 255, 255, 0.3)), url(../img/features-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}
/*** Features End ***/


/*** Top News Start ***/
.news-2 h3 {
    position: relative;
}

.news-2 h3::after {
    content: "";
    line-height: 1.3rem;
    background: var(--bs-secondary);
    position: absolute;
    width: 68%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    right: 0;
    opacity: 0.2;
}
/*** Top News End ***/


/*** Latest News Start ***/
.latest-news .latest-news-carousel.owl-carousel{
    position: relative;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -65px;
    right: 70px;
    font-size: 20px;
    padding: 2px 20px;
    transition: 0.5s;
    margin-right: 10px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -65px;
    right: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 2px 20px;
    transition: 0.5s;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev:hover,
.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 10px;
}
/*** Latest News End ***/


/*** Whats New Start ***/
.populer-news .whats-carousel.owl-carousel {
    position: relative;
}

.populer-news .whats-carousel.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -80px;
    right: 70px;
    font-size: 20px;
    padding: 2px 20px;
    transition: 0.5s;
    margin-right: 10px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.populer-news .whats-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -80px;
    right: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 2px 20px;
    transition: 0.5s;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.populer-news .whats-carousel.owl-carousel .owl-nav .owl-prev:hover,
.populer-news .whats-carousel.owl-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 10px;
}

.populer-news .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}

.lifestyle .lifestyle-item {
    position: relative;
    overflow: hidden;
}

.lifestyle .lifestyle-item img {
    transition: 0.5s;
}

.lifestyle .lifestyle-item:hover img {
    transform: scale(1.2);
}

.lifestyle .lifestyle-item .lifestyle-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/*** Whats New End ***/


/*** Banner Section start ***/
.banner-2 {
    position: relative;
}

.banner-content-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(rgba(26, 125, 255, 0.7), rgba(255, 255, 255, 0.7));
    z-index: 2;
}

.banner-content-2:hover {
    background: none;
}
/*** Banner Section End ***/


/*** Footer Start ***/
.footer button:hover {
    background: var(--bs-white) !important;
    color: var(--bs-primary) !important;
}

.footer .footer-item-1 .line-h {
    line-height: 38px;
}

.footer .footer-item-1 a,
.footer .footer-item-1 a i {
    transition: 0.5s;
}

.footer .footer-item-1 a:hover i {
    color: var(--bs-primary) !important;
}

.footer .footer-item-3 a {
    line-height: 38px;
}

.footer .footer-item-2 a {
    transition: 0.5s;
}

.footer .footer-item-2 a:hover {
    color: var(--bs-primary) !important;
}

.footer .footer-item-3 a {
    transition: 0.5s;
}

.footer .footer-item-3 a:hover {
    color: var(--bs-primary) !important;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-h4-link {
    text-decoration: none;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.footer-advantages-link,
.footer-h4-link:hover,
.footer-h4-link:focus {
    color: #1b7dff;
}

.footer-advantages-link,
.footer-h4-link h4 {
    color: #fff;
}

.footer-h4-link h4:hover,
.footer-h4-link h4:focus {
    color: #1b7dff;
    text-decoration: underline;
}
/*** Footer End ***/


.center {
    text-align: center;
}

.digest {
    text-align: right;
    padding: 7px 30px 0 75px;
    color: white;
    font-weight: bold;
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*** Pagination ***/
.custom-pagination nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.custom-pagination .pagination .page-link {
    border: 1px solid #dee2e6;
    background-color: #fff;
    color: #007bff;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    min-width: 45px;
    text-align: center;
    font-weight: bold;
}

.custom-pagination .pagination .page-item:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.custom-pagination .pagination .page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.custom-pagination .pagination .page-link:hover {
    background: #f8f9fa;
}

.custom-pagination .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.custom-pagination .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .custom-pagination .pagination .page-link {
        padding: .5rem;
        line-height: 1.25;
        min-width: 0;
    }
}

@media (max-width: 690px) {
    .custom-pagination .page-item {
        display: none; /* Скрываем все элементы на очень маленьких экранах */
    }
    .custom-pagination .page-item.active,
    .custom-pagination .page-item.disabled,
    .custom-pagination .page-item:first-child,
    .custom-pagination .page-item:last-child,
    .custom-pagination .page-item:nth-last-child(2),
    .custom-pagination .page-item:nth-child(2) {
        display: block; /* Показываем только важные элементы на маленьких экранах */
    }
}/*** Pagination End ***/


/*** CUSTOM CSS ***/
.custom-breadcrumbs {
    padding-bottom: 1.5rem;
}

.link-block {
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.article-entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.article-date {
    font-size: 0.6rem;
    margin-right: 10px;
    margin-top: 6px;
    flex-shrink: 0;
}

.header-with-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-badge {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 22px;
    font-size: 0.8rem;
}

.filter-badge a.remove-filter {
    margin-left: 8px;
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.link-to-article:visited {
    color: purple;
}

.form-select {
    max-width: 200px;
    border: 3px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 15px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    display: inline-block;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.category-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 10px;
    text-align: center;
}

.link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 1199px) {
    .category-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 559px) {
    .category-list {
        grid-template-columns: 1fr;
    }
}

.black-important {
    text-align: justify;
}

.black-important b {
    color: black;
}

.black-important .link b,
.black-important .link b:hover {
    color: blue;
}

.go-to-broker-wrapper {
    width: 100%;
    text-align: center;
}

.go-to-broker {
    padding: 0.5rem 2rem;
    transition: 0.3s;
}

.go-to-broker:hover,
.go-to-broker:focus {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}

.partner-banner-float {
    float: left;
    margin-right: 20px;
}

.middle-banner-h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #111;
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    .middle-banner-h2 {
        font-size: 2.5rem;
    }
}
