.content-header h1 {
    text-align: center;
}

.content {
    font-size: 18px;
}

.content a {
    font-weight: bold;
}

.table-first-column-short {
    max-width: 15px;
}

.table-last-updated-column {
    width: 150px;
}

.admin-table-second-column {
    width: 65%;
}

.will-be-so {
    width: 35%;
}

.edit-input {
    width: 100% !important;
}

.cell-with-input {
    width: 200px;
}

.table-last-column {
    width: 62px;
}

.table-column-with-button {
    width: 77px;
}

.glyphicon-remove-circle {
    color: red;
    margin-left: 3px;
    cursor: pointer;
}

.custom-button-length {
    width: 160px;
}

#remove_image_params_patterns-value div {
    width: 100%;
    line-height: 2;
}

#remove_image_params_patterns-value div:not(:first-child) {
    border-top: 1px solid;
}

.show-single-set-remove-image-params:not(:first-child) {
    border-top: 1px solid;
    margin-top: 10px;
    padding-top: 10px;
}

.grey-line {
    border-top: 4px solid #d2d6de;
    border-bottom: 3px solid #d2d6de;
}


/*Categories*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-text-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-modal-text {
    width: 100px;
}

.errorMessage {
    color: red;
}
