.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar {
    float: left;
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
}

.content {
    float: left;
    width: 60%;
    padding: 20px;
}

.footer {
    clear: both;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
